.idea
.vscode
.git
.gitignore
.DS_Store
.env
.env.example
.env.local
.env.development
.env.development.local
.env.test
.env.test.local
.env.production
.env.production.local
.env.staging
.env.staging.local

blog-api/.env
blog-api/target
blog-api/uploads